In [1]:
import pandas as pd
import scipy as sp
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [8]:
df_raw = pd.read_csv("genetic_dataset.csv", sep=",")

In [9]:
df_main = df_raw.copy()
print("df_raw", len(df_raw))
print("df_main", len(df_main))
df_main.head()

df_raw 1000
df_main 1000

,GENOTYPES,NAME,DFSI,DFFL,DFBO,SPAD1,SPAD2,RWC,MSI,LAI,SLW,BW,NBP,PH,SCYP,GOT,FL,UI,MIC,TENACITY
0,1,Gen_1,66,119,114,28.9,22.1,61.670344,51.086552,1.93,14.004350,1.558244,59,133,88.48,89.45,20.63,62,3.02,21.85
1,2,Gen_2,60,127,117,22.3,25.6,99.115894,40.291082,3.35,6.048587,1.169799,35,134,69.99,80.68,16.25,65,4.20,21.48
2,3,Gen_3,70,149,166,39.6,29.4,87.344650,87.729921,3.72,14.188368,1.261189,47,129,53.59,89.78,16.78,76,3.72,19.36
3,4,Gen_4,67,138,132,37.2,26.7,74.604713,71.886811,2.03,11.112441,1.676326,38,120,64.83,50.07,20.40,61,4.51,21.61
4,5,Gen_5,70,149,110,37.5,25.4,94.416901,85.531587,4.64,11.087380,1.279055,58,124,76.70,79.77,19.27,78,5.13,16.24

In [39]:
corr = np.corrcoef(df_main.iloc[:,2:])
corr

array([[1.        , 0.95879614, 0.92726501, ..., 0.93639373, 0.89677401,
        0.92660345],
       [0.95879614, 1.        , 0.94228617, ..., 0.8978916 , 0.88590048,
        0.9616596 ],
       [0.92726501, 0.94228617, 1.        , ..., 0.93940377, 0.97334599,
        0.97672531],
       ...,
       [0.93639373, 0.8978916 , 0.93940377, ..., 1.        , 0.95644294,
        0.91400376],
       [0.89677401, 0.88590048, 0.97334599, ..., 0.95644294, 1.        ,
        0.95427745],
       [0.92660345, 0.9616596 , 0.97672531, ..., 0.91400376, 0.95427745,
        1.        ]])